{% extends "blog/base.html" %}

{% block title %}
MAIN PAGE
{% endblock %}

{% block content %}

{% include "blog/components/nav.html" %}

{% with %}
    {% set heading='Main Page' %}
    {% set image='/blog/assets/img/home-bg.jpg' %}
    {% set directory='static' %}
    {% include "blog/components/header.html" %}
{% endwith %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
                {% include "blog/components/post-preview.html" %}
            {% endfor %}
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="{{ url_for('blog_index') }}">Older Posts →</a>
            </div>

            {% include "blog/components/paginator.html" %}

        </div>
    </div>
</div>

{% include "blog/components/footer.html" %}

{% endblock %}
